{% extends "accounts/main.html" %}

{%block content%} 

{%  include 'accounts/status.html' %}
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Project: {{project.ProjectName}}</h5>
            <hr>
            <a class="btn btn-outline-info  btn-sm btn-block" href="">Update Project</a>
            <a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Delete</a>

        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Project Details </h5>
            <hr>
            <p>Assigned to Team: </p>
            <p>Due Date: </p>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>ToDo's</h5>
            <hr>
            <h1 style="text-align: center;padding: 10px">{{task_count}}</h1>
        </div>
    </div>
</div>


<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">

            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
    </div>
    
</div>
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Task Name</th>
                    <th>Asigned to</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {% for tsk in task%}
                <tr>
                    <td>{{tsk.TaskName}}</td>
                    <td>{{tsk.employee}}</td>
                    <td>{{tsk.DueDate}}</td>
                    <td>{{tsk.SelectStatus}}</td>
                    <td><a class="btn btn btn-sm btn-info" href="{% url 'update_task' tsk.id %}">Update</a></td>
					<td><a class="btn btn btn-sm btn-danger" href="{% url 'delete_task' tsk.id %}">Delete</a></td>	 


                </tr>
                
                
                {%endfor%}
            </table>
        </div>
    </div>
</div>

{%endblock%}