<h3> WORTAX </h3>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header text-center">
                        User Registration
                    </div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                
                                <label for="username">Username</label> <br>
                                {{form.username}}
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label><br>
                                {{form.email}}
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label> <br>
                                {{form.password1}}
                            </div>
                            <div class="form-group">
                                <label for="repassword">Re-enter Password</label><br>
                                 {{form.password2}}
                            </div>
                            
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </form>
                        
                        <div class="text-center mt-2">
                            <p> Already have an account? </p>
                            <a href="{% url 'login' %}">Login</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            {{form.errors}}
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

